
.component {

  //increase component specificity in order to override the material design css
  &.component {
    background: unset !important;
  }

  display: flex;
  align-content: center;

}
.dots{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-content: center;
}
.disableButtons {
  .button {
    display: none;
  }
}
