.component{
  display: flex;
  flex-direction: column;
  height: inherit;
  overflow: hidden;
  transition: all 200ms linear;
}

.contentSection{
  flex-grow: 1;
}

.page{
  width: 100%;
}

.stepperSection{
  display: flex;
  flex-direction: column;
}

.button{
  height: 100%;
  width: 100%;
}
.buttonContainer{
  height: 3em;
  padding: 0 var(--layout-distance-normal,1em) var(--layout-distance-normal,1em);
}
